.svg-demo1-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.svg-demo1-container svg {
  width: 100%;
  height: auto;
}

.svg-demo1-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}